output_dir: ./output/0/

gradient_checkpointing: false
per_device_train_batch_size: 12
gradient_accumulation_steps: 1
learning_rate: 5.0e-7
max_length: 512
temperature: 0.8
beta: 1.0
bf16: true
dataset_num_proc: 1
num_astar: 4
torch_empty_cache_steps: 1
num_train_epochs: 1
eval_steps: 50
push_to_hub: false
save_strategy: "no"
logging_steps: 5
hub_model_id: Eehan/Qwen2-0.5B-drpo-imdb_origin
report_to: 
  - wandb
is_bt_model: true
preference_model_id: siebert/sentiment-roberta-large-english
ratio_processing: clip
clipbound: 1.0
forward_temperature: 0.5
max_grad_norm: 1.0
