output_dir: ./output/noisyGT_refT/0/

gradient_checkpointing: false
per_device_train_batch_size: 10
gradient_accumulation_steps: 4
learning_rate: 5.0e-7
max_length: 370
max_prompt_length: 5
max_completion_length: 365
generate_temperature: 0.67
beta: 1.0
bf16: true
dataset_num_proc: 1
num_astar: 2
torch_empty_cache_steps: 1
num_train_epochs: 1
eval_steps: 50
push_to_hub: false
eval_strategy: "no"
save_strategy: "steps"
save_steps: 1000
logging_steps: 5
hub_model_id: Eehan/Qwen2-0.5B-drpo-imdb-gentemper-1.2-0
report_to: 
  - wandb
is_bt_model: true
preference_model_id: siebert/sentiment-roberta-large-english
preference_model_kwargs:
  indifferent: false
  random: false
  reverse: false
ratio_processing: clip
clipbound: 2.5
forward_temperature: 0.67
max_grad_norm: 1.0
loss1_only: false
loss2_only: false