output_dir: ./output/hh/0/

gradient_checkpointing: false
model_and_preference_share_basemodel: false
per_device_train_batch_size: 1
gradient_accumulation_steps: 16
learning_rate: 5.0e-7
max_length: 2048
generate_temperature: 1.0
beta: 0.05
bf16: true
dataset_num_proc: 1
num_astar: 2
torch_empty_cache_steps: 1
num_train_epochs: 1
eval_steps: 500
eval_strategy: "no"
save_strategy: "steps"
save_steps: 500
logging_steps: 5
push_to_hub: false
hub_model_id: Eehan/nothing_really_matters
report_to: 
  - wandb
is_bt_model: true
preference_model_id: 'llm-blender/PairRM-hf'
#preference_model_revision: f70cf091d59583749f030005b70834d29ba70fda
preference_model_kwargs:
  indifferent: false
  random: false
  reverse: false
ratio_processing: normal_distribution
clipbound: 5.0
forward_temperature: 1.0
max_grad_norm: 0.25
standard_dev: 3.0
loss1_only: false
loss2_only: false