output_dir: ./output/hh/0/

gradient_checkpointing: false
model_and_preference_share_basemodel: false
per_device_train_batch_size: 1
gradient_accumulation_steps: 4
learning_rate: 5.0e-7
max_length: 1024
generate_temperature: 1.0
beta: 0.05
bf16: true
dataset_num_proc: 1
num_astar: 1
torch_empty_cache_steps: 1
num_train_epochs: 1
eval_steps: 500
eval_strategy: "no"
hub_strategy: "every_save"
save_strategy: "steps"
save_steps: 200
logging_steps: 10
push_to_hub: true
hub_model_id: 'august66/hh_qwen1.5_drpo'
save_only_model: true
save_total_limit: 5
report_to: 
  - wandb
is_bt_model: true
preference_model_id: 'llm-blender/PairRM-hf'
#preference_model_revision: f70cf091d59583749f030005b70834d29ba70fda dd
preference_model_kwargs:
  indifferent: false
  random: false
  reverse: false
ratio_processing: KL_divergence
ratio_distribution: normal_distribution
clipbound: 3.0
forward_temperature: 1.0
max_grad_norm: 0.25
scale: 4.0
loss1_only: false
loss2_only: false